* {
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  h1 {
    margin-top: 0;
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-left: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    height: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 60px;
  }

  .square-x {
    color: #08BDC3;
  }

  .square-o {
    color: #C3086E;
  }
  
  .square-win {
    background-color: #FEC4F8;
  }
  
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .status {
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-board {
    margin-top: 50px;
    margin-left: 30px;;
  }

  .game-info {
    margin-left: 20px;
  }

  .move-sort {
    margin-bottom: 0.3rem;
    margin-left: 60px;
    border: 1px solid #F3A1EA;
    background-color: #F3A1EA;
    color: #fff;
    border-radius: 8px;
    padding: 0.3rem;
    font-size: 0.7rem;
    
  }

  ul > button {
    border: 1px solid #F3A1EA;
    margin-bottom: 0.4rem;
    padding: 0.3rem;
    background-color: #FFF6FE;
    border-radius: 8px;
    font-size: 0.7rem;
    color: #CF64C3;
  }

  ul > button:hover {
    background-color: #F3A1EA;
    color: #fff;
    border-color: #F3A1EA;
  }

  .this-move {
    color: #AB0097;
    border: 1px solid #AB0097;
  }